*,
*:before,
*:after {
  box-sizing: border-box;
}

/**
* Layout
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: rgb(0, 0, 0);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
canvas {
  border: 1px soild black;
  height: 100vh;
}
/* h1 {
  display: inline-block;
  padding: 0.3em;
  font-family: "Megrim", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.68);
  border: 0.075em solid rgba(255, 255, 255, 0.1);
} */

main {
  position: absolute;
  top: 0%;
  left: 25%;
}

img {
  height: auto;
  max-width: 100%;
  /* border-radius: 100%; */
}

/* .circular--landscape {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -70px;
} */

/**
* Button Styles
* https://fdossena.com/?p=html5cool/buttons/i.frag
*/
button {
  color: #000000;
  text-transform: uppercase;
  background: #f3b84f;
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
}

/**
* Blockquotes
*/
blockquote {
  border-left: 0.25em solid #e5e5e5;
  font-style: italic;
  margin: 0 0 1.5625em;
  padding-left: 1em;
  padding-right: 1em;
  quotes: none;
  color: rgb(252, 230, 132);
  background-color: rgba(175, 175, 175, 0.3);
  font-size: 2rem;
  width: 765px;
}

blockquote:before,
blockquote:after {
  content: "";
}
